.container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 4px 4px 10px 4px #00000040;
    text-align: center;
    margin: 20px auto;
    font-family: "Poppins", sans-serif;
  }
  
  .heading {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  
  .profilePicContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4f46e5;
  }
  
  .fileInput {
    display: none;
  }
  
  .uploadBtn {
    margin-top: 10px;
    background: #223b6e;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .saveBtn {
    margin: 10px auto;
    background: #47B44E;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
  }
  
  